body {
  font-family: "Roboto", sans-serif;
}
.carousel {
  margin-top: 0 !important;
}
.service {
  background-image: linear-gradient(to bottom right, #97c74e, #2ab9a5);
  color: white;
  padding: 40px 25px;
  margin-bottom: 50px;
}
.service > .subtitle {
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}
.service > .title {
  font-family: "Poppins", sans-serif;
}
.service > .resume {
  margin-bottom: 30px;
}
.service > .row {
  margin-left: 0;
}
.service .item {
  margin-bottom: 15px;
}
.premium-service {
  padding: 10px;
}
.premium-service > .subtitle {
  font-family: "Playfair Display", serif;
  color: #8f9397;
  margin-bottom: 20px;
}
.premium-service > .title {
  font-family: "Poppins", sans-serif;
}
.premium-service > .resume {
  color: #8f9397;
  margin-bottom: 60px;
}
figcaption > .card-title {
  font-family: "Poppins", sans-serif;
}
figcaption > .card-text {
  color: #8f9397;
}
.portfolio > .title {
  font-family: "Poppins", sans-serif;
}
.portfolio > .resume {
  color: #8f9397;
  margin-bottom: 60px;
}
.portfolio .card {
  border: none;
}
.portfolio .card-title {
  margin-bottom: 0.25rem;
}
.portfolio .card-body {
  margin-top: 20px;
  padding: 0;
}
footer {
  margin-top: 30px;
  background-color: #f7f8f9;
}
footer > .logo {
  padding-top: 40px;
}
footer > .resume {
  color: #8f9397;
  margin-bottom: 30px;
}
footer .address,
footer .tel,
footer .mail {
  display: inline-block;
  margin-left: 20px;
  color: #8f9397;
}
.carousel {
  margin-bottom: 40px;
  margin-top: 40px;
}
