body {
  font-family: "Roboto", sans-serif;
}
.service {
  background-image: linear-gradient(to bottom right, #97c74e, #2ab9a5);
  color: white;
  padding: 40px 25px;
  margin-bottom: 50px;
}
.service > .subtitle {
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}
.service > .title {
  font-family: "Poppins", sans-serif;
}
.service > .resume {
  margin-bottom: 30px;
}
.service > .row {
  margin-left: 0;
}
.service .item {
  margin-bottom: 15px;
}
.premium-service {
  padding: 10px;
}
.premium-service > .subtitle {
  font-family: "Playfair Display", serif;
  color: #8f9397;
  margin-bottom: 20px;
}
.premium-service > .title {
  font-family: "Poppins", sans-serif;
}
.premium-service > .resume {
  color: #8f9397;
  margin-bottom: 60px;
}
figcaption > .card-title {
  font-family: "Poppins", sans-serif;
}
figcaption > .card-text {
  color: #8f9397;
}
